export(ASMC_fun_Rcpp)
export(ASMC_fun)
export(ASMC_helper_fun)
export(ASMC_incr_fun_Rcpp)
export(ASMC_incr_fun)
export(ASMC_plot)
export(ASMC_truncatedN_incr)
export(ASMC_truncatedN)
export(ASMC_truncatedSkewedN_incr)
export(ASMC_truncatedSkewedN)
export(ASMC_truncatedT_incr)
export(ASMC_truncatedT)

exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(GBMDSpackage, .registration=TRUE)

